<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rewriteMaps>
                <rewriteMap name="localhost:1515" />
                <rewriteMap name="localhost:1520" />
            </rewriteMaps>
            <rules>
                <rule name="Redirect rule1 for localhost:1520">
                    <match url=".*" />
                    <conditions>
                        <add input="{localhost:1520:{REQUEST_URI}}" pattern="(.+)" />
                    </conditions>
                    <action type="Redirect" url="{C:1}" appendQueryString="false" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>
